.subtract2-icon {
  position: relative;
  display: center;
  width: 1500px;
  height: 1000px;
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%);
  opacity: 0.4;
  }
  .aguura1 {
  color: #fff;
  }
  .aguura {
  margin: 0;
  }
  .aguura-muhinzi-container1 {
  width: 100%;
  }
  .aguura-muhinzi-container {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 110px;
  display: flex;
  align-items: center;
  width: 744px;
  height: 220px;
  }
  .leaf-01webp-icon {
  position: absolute;
  top: 126px;
  right: 249px;
  width: 92px;
  height: 75px;
  overflow: hidden;
  object-fit: cover;
  }
  .aguura-muhinzi-parent {
  width: 744px;
  position: relative;
  height: 220px;
  }
  .get-all-farm {
  position: absolute;
  top: calc(50% - 32.5px);
  left: 10px;
  line-height: 140%;
  display: flex;
  align-items: center;
  width: 614px;
  }
  .fresh-fast-on-container {
  position: absolute;
  top: 3px;
  left: 0px;
  line-height: 140%;
  display: flex;
  background: linear-gradient(90deg, #fbed96, #abecd6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  width: 337px;
  height: 188px;
  }
  .fresh-fast-on-agromarket-wrapper {
  position: absolute;
  top: calc(50% - 24.5px);
  right: 219px;
  width: 172px;
  height: 50px;
  overflow: hidden;
  }
  .headline {
  position: absolute;
  top: 70px;
  left: calc(50% - 375.5px);
  width: 874px;
  height: 65px;
  text-align: left;
  font-size: 48px;
  color: #e8efe9;
  }
  .connecting-farmers-cooperativ {
  position: absolute;
  top: 282px;
  left: 36px;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 717px;
  height: 122px;
  }
  .label-text {
  position: relative;
  line-height: 140%;
  }
  .state-layer {
  position: absolute;
  top: 441px;
  left: 263px;
  border-radius: 50px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 300px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  }
  .text-holder-frame {
  align-self: stretch;
  position: relative;
  border-radius: 32px;
  background-color: rgba(8, 45, 1, 0.8);
  height: 577px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: 28px;
  color: #fff;
  font-family: Roboto;
  }
  .group-parent {
  position: absolute;
  top: -78px;
  left: 151px;
  width: 933px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 43px;
  }
  .elements {
  position: absolute;
  top: calc(50% - 376px);
  left:20%;
  width: 546.5px;
  height: 220px;
  }
  .hero-frame {
  width: 100wvh;
  top: 110px;
  position: relative;
  height: 1180px;
  overflow: hidden;
  background-image: url('../images/glass\ card\ frame\ \(1\).png');;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 120px;
  color: #eec044;
  font-family: 'Covered By Your Grace';
  }