.ganza-kevinfarmer-sign-up2-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px 0px 0px 20px;
    background-color: #395b28;
    width: 698px;
    height: 1117px;
}
.connect-with-buyers {
    position: absolute;
    top: 188px;
    left: 61px;
    letter-spacing: 0.04em;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 538px;
}
.agri-link-helps-you {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 140%;
    display: flex;
    align-items: center;
}
.agri-link-helps-you-sell-your-parent {
    position: absolute;
    top: 473px;
    left: 61px;
    width: 559px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 24px;
}
.ganza-kevinfarmer-sign-up2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #fff;
    width: 1728px;
    height: 1117px;
    overflow: hidden;
}
.image-removebg-preview-2-icon {
    position: absolute;
    top: -2px;
    left: 743px;
    width: 239px;
    height: 98px;
    object-fit: cover;
}
.frame-child {
    position: absolute;
    top: 137px;
    left: 61px;
    border-radius: 50%;
    background-color: #3c612a;
    width: 22px;
    height: 22px;
}
.frame-item {
    position: absolute;
    top: 137px;
    left: 349px;
    border-radius: 50%;
    background-color: #3c612a;
    width: 22px;
    height: 22px;
}
.frame-inner {
    position: absolute;
    top: 137px;
    left: 646px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 22px;
    height: 22px;
}
.ellipse-div {
    position: absolute;
    top: 137px;
    left: 946px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 22px;
    height: 22px;
}
.vector-icon {
    position: absolute;
    top: 148.5px;
    left: 87.5px;
    max-height: 100%;
    width: 256.5px;
}
.frame-child1 {
    position: absolute;
    top: 148px;
    left: 375px;
    max-height: 100%;
    width: 266.5px;
}
.frame-child2 {
    position: absolute;
    top: 148px;
    left: 673px;
    max-height: 100%;
    width: 268.5px;
}
.lets-get-started {
    position: relative;
    letter-spacing: 0.22em;
    font-weight: 600;
}
.lets-get-started-wrapper {
    position: absolute;
    top: 193px;
    left: 173px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 6px;
    font-size: 36px;
}
.province {
    position: relative;
}
.province-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.simple-name-textfield {
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 6px 0px 16px;
    font-size: 16px;
    color: #b3b3b3;
    font-family: Inter;
}
.frame-parent {
    position: absolute;
    top: 325px;
    left: 173px;
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-group {
    position: absolute;
    top: 579px;
    left: 173px;
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-container {
    position: absolute;
    top: 452px;
    left: 173px;
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div {
    position: absolute;
    top: 712px;
    left: 173px;
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-parent1 {
    position: absolute;
    top: 845px;
    left: 173px;
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.arrow-icon {
    width: 24px;
    position: absolute;
    margin: 0 !important;
    top: 20px;
    left: 101px;
    height: 24px;
    object-fit: contain;
    z-index: 0;
}
.next {
    width: 52px;
    position: absolute;
    margin: 0 !important;
    top: 14px;
    left: 48px;
    display: inline-block;
    z-index: 1;
}
.next-button {
    position: absolute;
    top: 1016px;
    left: 379px;
    border-radius: 5px;
    background-color: rgba(60, 97, 42, 0.8);
    width: 174px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    color: #fff;
}
.arrow-icon1 {
    width: 24px;
    position: absolute;
    margin: 0 !important;
    top: 20px;
    left: 101px;
    height: 24px;
    z-index: 0;
}
.back {
    width: 58px;
    position: absolute;
    margin: 0 !important;
    top: 14px;
    left: 42px;
    display: inline-block;
    z-index: 1;
}
.back-button {
    position: absolute;
    top: 1016px;
    left: 183px;
    border-radius: 5px;
    background-color: rgba(60, 97, 42, 0.8);
    width: 174px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    color: #fff;
}
.address-details {
    position: relative;
    letter-spacing: 0.22em;
    font-weight: 500;
}
.address-details-wrapper {
    position: absolute;
    top: 263px;
    left: 168px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
}
.image-removebg-preview-2-parent {
    position: absolute;
    top: 0px;
    left: 696px;
    border-radius: 0px 20px 20px 0px;
    background-color: #fff;
    width: 1032px;
    height: 1117px;
    overflow: hidden;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
}
.macbook-pro-16-5 {
    width: 100%;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: 64px;
    color: #fff;
    font-family: Inter;
}

